* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(119, 119, 185);
}

.nav {
    display: flex;
    background-color: blue;
    padding: 19px;
    color: white;
    justify-content: space-around;

}

nav ul {
    display: flex;
}

li {
    list-style-type: none;
}

a.n {
    text-decoration: none;
    color: white;
    font-weight: 1000;
}

main {
    margin: 60px;
    padding: 5px;
}

h1 {
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
h2 {
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

li:hover {
    transform: scale(1);
    transform: rotate(1deg);
    transition: all 1s ease;
}
main ul{
    justify-content: center;
}